<%- include("header") -%>

<h2>This is the about page</h2>
<p>Thank you very much. This is youre goto todo list that contain database to store youre todos using mongoDB, enjoy!</p>

<%- include("footer") -%>
